

.bkimgheader{
  background-image: url("http://imgfz.com/i/3c7gxBz.jpeg");
  background-position: center center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 40vh;
}
.contbici{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  margin: 30px;
}


.ftr{
  height: 14vh;
}
.notfound{
  display: flex;
  justify-content: center;
  background-color: rgba(19,30,58,255);
  padding: 40px;
  text-decoration: none;
  font-size: xx-large;
  font-weight: 500;
  color: rgba(253,132,0,255);
}